parameters:
    editorUrl: 'vscode://file/%%file%%:%%line%%'
    level: 5
    paths:
        - src/
    excludePaths:
        - vendor/*
        - node_modules/*
        - views/*
        - assets/*

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
