{#
/**
 * Basic Block
 *
 * @package mfa
 */
#}
{% if fields.show_top_separator %}
	<div class="before:z-100 before:content-[''] before:h-px before:w-1/2 before:mx-auto before:bg-gray-900/10 before:absolute before:top-0 before:left-[50%] before:translate-x-[-50%]"></div>
{% endif %}

<div
	{% if anchor %}id="{{ anchor }}"{% endif %}
	class="w-full py-16"
>
	<div class="w-full mx-auto px-6 max-w-5xl">
		<div data-animate="true" style="--delay: 200ms;" class="lg:[transition-delay:var(--delay)]">
			<h2 class="text-3xl lg:text-4xl font-bold font-mont leading-tight text-green text-left lg:text-center">{{ fields.heading }}</h2>
			{% if fields.subheading %}
				<div class="w-full mx-auto mt-6 lg:mt-8">
					<div class="text-left lg:text-center text-gray-600 text-lg lg:text-xl lg:font-semibold no-img">{{ fields.subheading }}</div>
				</div>
			{% endif %}
		</div>

		{% if fields.links %}
			<div data-animate="true" style="--delay: 300ms;" class="lg:[transition-delay:var(--delay)] flex flex-col lg:flex-row justify-center lg:items-center leading-none gap-4 lg:gap-0 mt-10 will-animate delay-100">
				{% for link in fields.links %}
					{{ include('partials/cta.twig', { link: link }) }}
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
