{#
/**
 * Media Block
 *
 * @package mfa
 */
#}
<div data-animate="true" class="h-px w-1/2 mx-auto bg-gray-900/10"></div>

<div
	{% if anchor %}id="{{ anchor }}"{% endif %}
	class="w-full pb-16 relative"
>
	<div class="w-full mx-auto px-6 max-w-5xl">
		<div data-animate="true">
			<h2 class="text-3xl lg:text-4xl font-bold font-mont leading-tight text-green text-left lg:text-center">{{ fields.heading }}</h2>

			{% if fields.subheading %}
				<div class="w-full mx-auto mt-6 lg:mt-8">
					<div class="text-left lg:text-center text-gray-600 text-lg lg:text-xl lg:font-semibold no-img">{{ fields.subheading }}</div>
				</div>
			{% endif %}

			{% if fields.video.youtube_id %}
				<div data-animate="true" class="delay-300 mt-12">
					{{ include('partials/video.twig', { video: fields.video }) }}
				</div>
			{% endif %}
		</div>
	</div>
</div>
